@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta name="application-name" content=".net naudotojų grupė"/> 
    <meta name="msapplication-TileColor" content="#eeeeee"/> 
    <meta name="msapplication-TileImage" content="@Url.Content("~/Public/img/logo_144.png")"/>

    <title>Lietuvos .net naudotojų grupė</title>
    <link href="@Url.Content("~/Public/css/bootstrap.min.css")" rel="stylesheet" media="screen">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")">
    <style>
        #logo {
            position: relative;
            top: -1em;
            padding-right: 2em;
            width: 150px;
            height: 150px;
        }
        .icon-small a:hover {
            text-decoration: none;
        }
    </style>
    @{ Html.RenderPartial("GoogleAnalytics"); }
</head>
<body id="home">
    <div class="container">

        <div>
            <ul class="nav nav-pills pull-right">
                <li><a href="@Url.Action("Index", "Stream")"><strong>#ltnet</strong> programavimo naujienos &raquo;</a></li>
            </ul>
            <h3>&nbsp;</h3>
        </div>

        <div class="hero-unit">
            <img id="logo" src="@Url.Content("~/Public/img/logo.png")" alt="dotnetgroup.lt logo" class="pull-left" />
            <h1>Lietuvos <strong>.net</strong> naudotojų grupė</h1>
            <p></p>
            <p>Programuotojų, testuotojų, architektų ir kitų entuziastų grupė, dirbanti su <strong>.net</strong> technologijomis</p>
        </div>
        <!-- .hero-unit -->

        <div class="row">
            <div class="span4">
                <h2>Artimiausi susitikimai</h2>
                <ul class="unstyled">
                    @*<li><a href="#v19">2013-01-31 | susitikimas Vilniuje #19</a></li>
                    <li><a href="#k15">2013-01-30 | susitikimas Kaune #15</a></li>*@
                    <p class="muted">Sustikimai dar nėra suplanuoti :(</p>
                </ul>
                <p>Galėtum padaryti pranešimą? <a href="mailto:seriog@yahoo.com?subject=dotnetgroup-pranesejas">Pranešk mums!</a></p>
            </div>
            <div class="span4">
                <h2>Ankstesni susitikimai</h2>
                <ul class="unstyled">
                    <li><a href="#v19">2013-01-31 | susitikimas Vilniuje #19</a></li>
                    <li><a href="#k15">2013-01-30 | susitikimas Kaune #15</a></li>
                    <li><a href="#v18">2012-10-17 | susitikimas Vilniuje #18</a></li>
                    <li><a href="#k14">2012-10-16 | susitikimas Kaune #14</a></li>
                </ul>
                <p><a href="#events">pilnas sąrašas &raquo;</a></p>
            </div>
            <div class="span4">
                <h2>Apie grupę</h2>
                <p>Pagrindinis šios grupės tikslas - suburti su <strong>.net</strong> technologijomis dirbančius žmones vienoje vietoje, taip pagerinant tarpusavio komunikaciją ir išplečiant pažinčių tinklą.</p>
                <ul class="inline">
                    <li>
                      <a href="mailto:seriog@yahoo.com?subject=dotnetgroup">
                        <img src="@Url.Content("~/Public/img/icon-email.png")" alt="email" />
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/sergejusb/DotNetGroup" target="_blank">
                        <img src="@Url.Content("~/Public/img/icon-github.png")" alt="GitHub" />
                      </a>
                    </li>
                    <li>
                      <a href="http://www.linkedin.com/groups?gid=2088780" target="_blank">
                        <img src="@Url.Content("~/Public/img/icon-linkedin.png")" alt="LinkedIn" />
                      </a>
                    </li>
                  </ul>
            </div>

        </div>
        <!-- .row -->

        <div class="row">
            <div class="span8">
                <h2>Rėmėjai</h2>
                <div class="row">
                    <div class="span4">
                        <a href="http://microsoft.com" target="_blank">
                            <img src="@Url.Content("~/Public/img/microsoft.png")" alt="Microsoft" />
                        </a>
                    </div>
                    <div class="span4">
                        <a href="http://adform.com" target="_blank">
                            <img src="@Url.Content("~/Public/img/adform.png")" alt="Adform" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="span2">
                <h2>Draugai</h2>
                <ul class="unstyled">
                    <li><a href="http://itishnikai.lt" target="_blank">ITishnikai</a></li>
                    <li><a href="http://sergejus.blogas.lt" target="_blank">Sergejus apie .NET</a></li>
                    <li><a href="http://facebook.com/WPDLT" target="_blank">Windows Platforms Developers Lithuania</a></li>
                </ul>
            </div>
            <div class="span2">
                <h2>&nbsp;</h2>
                <ul class="unstyled">
                    <li><a href="http://vilniusjs.lt" target="_blank">Vilnius JS</a></li>
                    <li><a href="http://www.vilniusphp.lt" target="_blank">Vilnius PHP</a></li>
                    <li><a href="http://www.vilnius-jug.lt" target="_blank">Vilnius JUG</a></li>
                </ul>
            </div>
        </div>
        <!-- .row -->

        <h1>&nbsp;</h1>

        <div class="page-header" id="events">
            <h1>Susitikimai</h1>
        </div>

        <ul class="thumbnails">
            @*<li class="span1"></li>
            <li class="span5">
                <div class="thumbnail" style="vert-align: top">
                    <h3 id="v19">2013-01-31 | Susitikimas Vilniuje #19</h3>
                    <p>
                        <a href="http://linkedin.com/pub/paulius-norkus/1a/52a/551" target="_blank">Paulius Norkus</a>
                        <a class="icon-small" href="http://linkedin.com/pub/paulius-norkus/1a/52a/551" target="_blank">
                            <img src="@Url.Content("~/Public/img/icon-linkedin.png")" alt="LinkedIn" />
                        </a>
                        <br />
                        Žaidimų kūrimas su MonoGame
                    </p>
                    <p>
                        <a href="http://linkedin.com/pub/alius-petra%C5%A1ka/33/197/b02" target="_blank">Alius Petraška</a>
                        <a class="icon-small" href="http://linkedin.com/pub/alius-petra%C5%A1ka/33/197/b02" target="_blank">
                            <img src="@Url.Content("~/Public/img/icon-linkedin.png")" alt="LinkedIn" />
                        </a>
                        <br />
                        Windows 8: Designing the Metro Experience
                    </p>
                    <p style="text-align: center">
                        <a href="http://ltnet19v.eventbrite.com" target="_blank">
                            <img src="http://www.eventbrite.com/custombutton?eid=5250323860" alt="Eventbrite registracija" />
                        </a>
                    </p>
                </div>
            </li>
            <li class="span5">
                <div class="thumbnail">
                    <h3 id="k15">2013-01-30 | Susitikimas Kaune #15</h3>
                    <p>
                        <a href="http://linkedin.com/pub/paulius-norkus/1a/52a/551" target="_blank">Paulius Norkus</a>
                        <a class="icon-small" href="http://linkedin.com/pub/paulius-norkus/1a/52a/551" target="_blank">
                            <img src="@Url.Content("~/Public/img/icon-linkedin.png")" alt="LinkedIn" />
                        </a>
                        <br />
                        Žaidimų kūrimas su MonoGame
                    </p>
                    <p>
                        <a href="http://linkedin.com/pub/alius-petra%C5%A1ka/33/197/b02" target="_blank">Alius Petraška</a>
                        <a class="icon-small" href="http://linkedin.com/pub/alius-petra%C5%A1ka/33/197/b02" target="_blank">
                            <img src="@Url.Content("~/Public/img/icon-linkedin.png")" alt="LinkedIn" />
                        </a>
                        <br />
                        Windows 8: Designing the Metro Experience
                    </p>
                    <p style="text-align: center">
                        <a href="http://ltnet15k.eventbrite.com" target="_blank">
                            <img src="http://www.eventbrite.com/custombutton?eid=5250323860" alt="Eventbrite registracija" />
                        </a>
                    </p>
                </div>
            </li>*@
            
            <li class="span4">
                <div class="thumbnail">
                    <h3 id="v19">Susitikimas Vilniuje #19</h3>
                    <p>
                        <p>2013-01-31, daugiau informacijos: <a href="http://ltnet19v.eventbrite.com/" target="_blank">Eventbrite</a></p>
                        <a href="http://linkedin.com/pub/paulius-norkus/1a/52a/551" target="_blank">Paulius Norkus</a>
                        <a class="icon-small" href="http://linkedin.com/pub/paulius-norkus/1a/52a/551" target="_blank">
                            <img src="@Url.Content("~/Public/img/icon-linkedin.png")" alt="LinkedIn" />
                        </a>
                        <br />
                        <a href="https://speakerdeck.com/pauliusnorkus/monogame" target="_blank">Žaidimų kūrimas su MonoGame</a>
                    </p>
                    <p>
                        <a href="http://linkedin.com/pub/alius-petra%C5%A1ka/33/197/b02" target="_blank">Alius Petraška</a>
                        <a class="icon-small" href="http://linkedin.com/pub/alius-petra%C5%A1ka/33/197/b02" target="_blank">
                            <img src="@Url.Content("~/Public/img/icon-linkedin.png")" alt="LinkedIn" />
                        </a>
                        <br />
                        <a href="http://slideshare.net/vjmessyman/designing-the-metro-experience" target="_blank">Windows 8: Designing the Metro Experience</a>
                    </p>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail">
                    <h3 id="k15">Susitikimas Kaune #15</h3>
                    <p>2013-01-30, daugiau informacijos: <a href="http://ltnet15k.eventbrite.com/" target="_blank">Eventbrite</a></p>
                    <p>
                        <a href="http://linkedin.com/pub/paulius-norkus/1a/52a/551" target="_blank">Paulius Norkus</a>
                        <a class="icon-small" href="http://linkedin.com/pub/paulius-norkus/1a/52a/551" target="_blank">
                            <img src="@Url.Content("~/Public/img/icon-linkedin.png")" alt="LinkedIn" />
                        </a>
                        <br />
                        <a href="https://speakerdeck.com/pauliusnorkus/monogame" target="_blank">Žaidimų kūrimas su MonoGame</a>
                    </p>
                    <p>
                        <a href="http://linkedin.com/pub/alius-petra%C5%A1ka/33/197/b02" target="_blank">Alius Petraška</a>
                        <a class="icon-small" href="http://linkedin.com/pub/alius-petra%C5%A1ka/33/197/b02" target="_blank">
                            <img src="@Url.Content("~/Public/img/icon-linkedin.png")" alt="LinkedIn" />
                        </a>
                        <br />
                        <a href="http://slideshare.net/vjmessyman/designing-the-metro-experience" target="_blank">Windows 8: Designing the Metro Experience</a>
                    </p>
                </div>
            </li>

            <li class="span4">
                <div class="thumbnail">
                    <h3 id="v18">Susitikimas Vilniuje #18</h3>
                    <p>2012-10-17, daugiau informacijos: <a href="http://ltnet18v.eventbrite.com/" target="_blank">Eventbrite</a></p>
                    <p>
                        Rimas Šaltis
                        <br />
                        Real-time Web programming using SignalR
                    </p>
                    <p>
                        Audrius Kovalenko
                        <br />
                        Security of Web applications: top 6 risks
                    </p>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail">
                    <h3 id="k14">Susitikimas Kaune #14</h3>
                    <p>2012-10-16, daugiau informacijos: <a href="http://ltnet14k.eventbrite.com/" target="_blank">Eventbrite</a></p>
                    <p>
                        Rimas Šaltis
                        <br />
                        Real-time Web programming using SignalR
                    </p>
                    <p>
                        Audrius Kovalenko
                        <br />
                        Security of Web applications: top 6 risks
                    </p>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail">
                    <h3 id="k13">Susitikimas Kaune #13</h3>
                    <p>2012-03-22, daugiau informacijos: <a href="http://ltnet13k.eventbrite.com/" target="_blank">Eventbrite</a></p>
                    <p>
                        Donatas Mažionis
                        <br />
                        WCF greitaveikos optimizavimas
                    </p>
                    <p>
                        Mindaugas Mozūras
                        <br />
                        Įvadas į GIT
                    </p>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail">
                    <h3 id="v17">Susitikimas Vilniuje #17</h3>
                    <p>2012-03-21, daugiau informacijos: <a href="http://ltnet17v.eventbrite.com/" target="_blank">Eventbrite</a></p>
                    <p>
                        Donatas Mažionis
                        <br />
                        WCF greitaveikos optimizavimas
                    </p>
                    <p>
                        Mindaugas Mozūras
                        <br />
                        Įvadas į GIT
                    </p>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail">
                    <h3 id="k12">Susitikimas Kaune #12</h3>
                    <p>2011-11-24, daugiau informacijos: <a href="http://ltnet12k.eventbrite.com/" target="_blank">Eventbrite</a></p>
                    <p>
                        Rokas Balevičius
                        <br />
                        Visual Studio LightSwitch
                    </p>
                    <p>
                        Donatas Mačiūnas
                        <br />
                        Asinchroninis programavimas su C# 5.0
                    </p>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail">
                    <h3 id="v16">Susitikimas Vilniuje #16</h3>
                    <p>2011-11-23, daugiau informacijos: <a href="http://ltnet16v.eventbrite.com/" target="_blank">Eventbrite</a></p>
                    <p>
                        Rokas Balevičius
                        <br />
                        Visual Studio LightSwitch
                    </p>
                    <p>
                        Donatas Mačiūnas
                        <br />
                        Asinchroninis programavimas su C# 5.0
                    </p>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail">
                    <h3 id="v15">Susitikimas Vilniuje #15</h3>
                    <p>2011-08-30, daugiau informacijos: <a href="http://ltnet15v.eventbrite.com/" target="_blank">Eventbrite</a></p>
                    <p>
                        Romualdas Stonkus
                        <br />
                        SQL Server 2012 naujovės programuotojams
                    </p>
                    <p>
                        Domantas Jovaišas
                        <br />
                        ASP.NET MVC 3 naujovės ir tips & tricks
                    </p>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail">
                    <h3 id="k11">Susitikimas Kaune #11</h3>
                    <p>2011-08-29, daugiau informacijos: <a href="http://ltnet11k.eventbrite.com/" target="_blank">Eventbrite</a></p>
                    <p>
                        Romualdas Stonkus
                        <br />
                        SQL Server 2012 naujovės programuotojams
                    </p>
                    <p>
                        Domantas Jovaišas
                        <br />
                        ASP.NET MVC 3 naujovės ir tips & tricks
                    </p>
                </div>
            </li>
        </ul>

    </div>
    <!-- .container -->

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="@Url.Content("~/Public/js/lib/bootstrap.min.js")"></script>
</body>
</html>
